# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.pot
*.pyc

# Django stuff:
*.sqlite3
db.sqlite3
media/

# If using migrations, a common practice es subirlas, no ignorarlas
# Si querés ignorar las migraciones:
# */migrations/*.py
# */migrations/*.pyc
# !*/migrations/__init__.py

# Environments
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# PyCharm
.idea/

# Mac OS
.DS_Store

# Logs
*.log

# Coverage reports
htmlcov/
.coverage

# Unit test / coverage reports
*.cover
*.coverage
.cache
nosetests.xml
coverage.xml
*.coveragerc

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Pytype static type analyzer
.pytype/

# Pycharm
.idea/

# Others
*.swp
